<section id="homepage">

    {{#if loggedIn}}

    {{#each satellites as |satellite|}}

    <a href = "/{{satellite.id}}"> 
    <section class="homepageDiv">
        <a href = "/{{satellite.id}}"> 
        <div class="satellite">
            <h2>{{satellite.satellite_name}}</h2>
        </div>
        <div class="country">
            <p>Created by: {{satellite.user.name}}</p>
        </div>
        </a>
        <div>
            <button>Remove from View</button>
        </div>

    </section>


    {{/each}}

    {{else}}

    {{#each satellites as |satellite|}}

    <section class="homepageDiv">

        <a href="/{{satellite.id}}">
            <div class="satellite" {{satellite.norad_id}}>
                <h2>{{satellite.satellite_name}}</h2>
            </div>
            <div class="country">
                <p>Created by: {{satellite.country.country_name}}</p>
            </div>
        </a>
    </section>

    {{/each}}

    {{/if}}


</section>