<section id="homepage">

    {{#if loggedIn}}

    {{#each satellites as |satellite|}}

    <section class="homepageDiv">

        <a class="sat_link" href="/api/satellite/{{satellite.id}}">
            <div class="satellite" {{satellite.norad_id}}>
                <h2>{{satellite.satellite_name}}</h2>
            </div>
            <div class="country">
                <p>Created by: {{satellite.country.country_name}}</p>
            </div>
        </a>

        <div>
            {{!-- The id was added to the class list to be use in the remove_sat.js listeners for deletion route --}}
            <button class="updateSatBtn {{satellite.id}}">Update Satellite</button>
            <button class="removeSatBtn {{satellite.id}}">Remove from View</button>
        </div>

    </section>


    {{/each}}

    {{else}}

    {{#each satellites as |satellite|}}
    <a href="/api/satellite/{{satellite.id}}">
        <section class="homepageDiv">


            <div class="satellite" {{satellite.norad_id}}>
                <h2>{{satellite.satellite_name}}</h2>
            </div>
            <div class="country">
                <p>Created by: {{satellite.country.country_name}}</p>
            </div>


        </section>
    </a>
    {{/each}}

    {{/if}}

</section>